<div class="container">
  <table class="table table-hover table-bordered table-striped">
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Address</td>
      <td>City</td>
      <td>State</td>
      <td>PostCode</td>
      <td>Country</td>
      <td>Action</td>
    </tr>
    <tr *ngFor="let client of service.list">
      <td (click)=editForm(client)>{{client.ClientID}}</td>
      <td (click)=editForm(client)>{{client.Name}}</td>
      <td (click)=editForm(client)>{{client.Address}}</td>
      <td (click)=editForm(client)>{{client.City}}</td>
      <td (click)=editForm(client)>{{client.State}}</td>
      <td (click)=editForm(client)>{{client.PostCode}}</td>
      <td (click)=editForm(client)>{{client.Country}}</td>
      <td>
        <button class="btn btn-sm btn-danger" (click)=onDelete(client.ClientID)>
          <i class="fa fa-remove"></i>Delete</button>
      </td>
    </tr>
  </table>
</div>