/* input.ng-touched.ng-invalid{
border-color: red;
}

input.ng-invalid{
    border-color: green;
} */

 /* #toast-container > div {
    opacity: 1;
  }  */

  /* @import "~bootstrap/dist/css/bootstrap.css"; */
  @import "~bootstrap/dist/css/bootstrap.css";

  .border{
      padding: 10px;
    }
    .btn{
      margin-right: 10px;
    }
    .fa {
      margin-right: 10px;
    }
  
    table .btn{
      margin: 2px;
    }